html{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: rgb(101, 118, 96);
}
.Food{
    font-weight: bold;
    border: 2px;
    border-style: dashed;
    margin: 10px;
    padding: 15px;
    color: rgb(255, 255, 255);
    list-style-type: none;

}
.ingredients{
    font-weight: normal;

}  
.food-tag{
    font-weight: normal;
    list-style-type: none;
    border: 2px;
    border-style: solid;
    display: inline;
    padding: 3px;
    border-radius: 10px;
    background-color: rgb(88, 88, 88);
}
.meal{
    color: white;
    list-style-type: none;
    border: 3px;
    background-color: rgb(92, 100, 79);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}

